body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /*width: 100vw;
  height: 100vh;*/

  font-family: "Courier New";
  font-weight: bold;
  font-size: 20px;

  background-image: url("background.jpg");
  background-color: #cccccc;

  display: flex;
  flex-direction: row;

  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px 1fr 100px;*/

  padding: 50px;
  box-sizing: border-box;
}

.photo {
  flex: 25%;
  justify-content: center;
}

#navbar {
  flex: 75%;
  justify-content: center;
}

h1, h2 {
  flex: 100%;
  justify-content: center;
}

.container div {
  padding: 10px;
}

img.rounded {
  object-fit: cover;
  display: inline;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#navbar ul,
li {
  list-style: none;
}

.bottomtext {
  color: #383838;
  text-align: right;
}
